* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background: white;
}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.header {
    text-align: center;
    font-size: 15px;
    padding: 30px;
    background: white;
    /* opacity: 0.5; */
    color: black;
    margin-bottom: 20px;
}

.header h2 {
    margin-top: -40px;
}

.header p {
    margin-top: 3px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    color: black;
}

.header .phara {
    font-weight: 500;
    margin-top: 10px;
}

.tab-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 5px; */
    padding: 40px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    /* margin-top: 10px; */
    border: none;
}

.tab-buttons button {
    margin-top: -55px;
    flex: 1 1 22%;
    width: 245px;
    height: 60px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background: #b9e1fc;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-buttons button:hover{
    background: #0077b6;
    color: white;
}

.tab-buttons .box button.active-tab {
    background-color: #0077b6;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content h3 {
    font-size: 11px;
}

.tab-content.active {
    display: block;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.book-card {
    margin-bottom: 40px;
    margin-top: -30px;
    margin-left: 15px;
    width: 200px;
    /* background: white; */
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    overflow: hidden;
}

.book-card:hover {
    background: #e6f6ff;
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.book-card img {
    width: 100%;
    height: 240px;
    border-radius: 2px;
}

.book-card p {
    font-size: 10px;
}

.book-card button {
    margin-top: 10px;
    padding: 6px 10px;
    font-size: 10px;
    font-weight: 600;
    width: 100px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.book-card button:hover {
    background-color: #023e8a;
}

/* MODEL - 1 */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.custom-modal-content {
    background: #ffffff;
    border-radius: 2px;
    width: 80%;
    max-width: 700px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
}

.modal-left {
    flex: 1;
    background: #f0f4f8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal-left img {
    width: 100%;
    max-width: 200px;
    border-radius: 2px;
}

.modal-right {
    flex: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-right h2 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #2c3e50;
}

.modal-right p {
    /* margin: 5px 0; */
    font-size: 11px;
    color: #333;
}

.modal-right strong {
    color: #000;
    font-weight: 600;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.modal-buttons button {
    text-transform: uppercase;
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    background-color: #0077b6;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.modal-buttons button:hover {
    background-color: #023e8a;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}


/* MODEL - 2 */
#confirm-borrow-modal.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Modal content box */
#confirm-borrow-modal .modal-content {
    background: white;
    padding: 25px;
    border-radius: 2px;
    width: 400px;
    max-width: 90%;
    position: relative;
    /* text-align: left; */
    font-family: 'Inter', sans-serif;
}

.modal-content h3 {
    text-align: center;
    font-size: 15px;
}

/* Close button */
#confirm-borrow-modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    color: #333;
    cursor: pointer;
}

/* Modal text */
#confirm-borrow-modal p {
    text-align: center;
    margin: 12px 0;
    font-size: 11px;
    color: #333;
}

/* Confirm button */
#confirm-borrow-modal button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 14px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease;
}

#confirm-borrow-modal button:hover {
    background-color: #023e8a;
}


.book-cover-dimmed {
    opacity: 0.4;
}

.borrowed-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}



/*-------------------------- BORROWED BOOKED TAB -------------------------*/

#borrowed h3 {
    text-align: center;
    font-size: 13px;
    margin-top: -20px;
}

input[type="checkbox"] {
    transform: scale(0.7);
    cursor: pointer;
}

#borrowed-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#borrowed-table th,
#borrowed-table td {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    font-size: 12px;
    color: #222;
}

#borrowed-table th {
    background-color: #007fc9;
    color: white;
    font-size: 12px;
}

#borrowed-table img {
    height: 120px;
    width: auto;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#borrowed {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#borrow-form input {
    font-size: 10px;
    width: 100%;
    padding: 8px;
    margin-bottom: -10px;
    border: 1px solid #0077b6;
    border-radius: 4px;
}

#borrow-form label {
    font-size: 10px;
    font-weight: 600;
}

#borrow-form button {
    margin-top: -10px;
    padding: 10px 20px;
    background: #0077b6;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.disabled-btn {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    pointer-events: auto;
}

.delete-btn {
    background-color: #d90429;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.delete-btn:hover {
    background-color: #b0021f;
}


/*-------------------------- DUE DATES TAB -------------------------*/

#due-dates h3 {
    text-align: center;
    font-size: 13px;
    margin-top: -20px;
}

#due-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#due-table th,
#due-table td {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    font-size: 12px;
    color: #222;
}

#due-table th {
    background-color: #007fc9;
    color: white;
    font-size: 12px;
}

#due-table img {
    height: 120px;
    width: auto;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#due {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.return-btn {
    background-color: #d9c004;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.return-btn:hover {
    background-color: #b09002;
}


/*-------------------------- REQEST TAB -------------------------*/

#request-form {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    margin-top: -5px;
    /* background-color: #deedf5; */
    border-radius: 2px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#request h3 {
    text-align: center;
    font-size: 13px;
    margin-top: -20px;
}

#request-form label {
    margin-top: -5px;
    font-size: 11px;
    font-weight: bold;
    color: #000;
}

#request-form input {
    padding: 10px;
    margin-top: -10px;
    margin-bottom: -3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    outline: none;
}

#request-form input:focus {
    outline: none;
    border: 1px solid #007fc9;
}

#reqtitle-error,
#reqauthor-error {
    color: red;
    font-size: 10px;
    font-weight: 500;
    margin-top: -6px;
    margin-bottom: 5px;
    text-align: left;
}

#request-form button {
    background: linear-gradient(to right, #007fc9, #005e94);
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#request-form button:hover {
    background: #007fc9;
}

/*-------------- HOVER OF TEH LINE BY LINE ------------------*/
td {
    transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transform-origin: center center;
}

tr:hover td {
    background-color: #eef7fd;
    color: #00629b;
    font-weight: 600;
    transform: scale(1.03);
}


#toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffe0e0;
    color: red;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    display: none;
    z-index: 9999;
}


/* Blur / light effect only on book cover image ---------REQUEST BOOKS ONLY CSS----------- */
.dimmed-cover {
    opacity: 0.4;
    filter: grayscale(20%);
    pointer-events: none;
}

/* Borrowed message style */
.borrowed-text {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
